opencv_python==4.1.1.26
Flask_MySQLdb==0.2.0
imutils==0.5.3
Flask_Bcrypt==0.7.1
scenedetect==0.5.2
Flask_WTF==0.14.3
Flask_SQLAlchemy==2.4.1
moviepy==1.0.1
WTForms==2.2.1
Flask_Login==0.5.0
Flask==1.1.1
converter==1.0.0
