matplotlib==3.0.3
Flask_Login==0.5.0
Flask_WTF==0.14.3
lmdb==0.98
filetype==1.0.5
imutils==0.5.3
moviepy==1.0.1
numpy==1.16.0
scipy==1.1.0
Flask==1.1.1
WTForms==2.2.1
opencv_python==3.4.9.33
pandas==0.25.3
requests==2.20.1
Flask_Bcrypt==0.7.1
mth==1.0
pyopenpose==0.1
PyQt5==5.14.2
python_bcrypt==0.3.2
scikit_learn==0.23.1
