{% extends 'index.html' %}
{% block content %}
<!-- Preloader -->
<div id="preloader">
    <i class="circle-preloader"></i>
    <img src="img/core-img/salad.png" alt="">
</div>

<head>
    <title>About</title>
</head>

<!-- ##### About Area Start ##### -->
<!--<section class="about-area section-padding-80" >-->
<div class="myContainer" style="width: 100%">
    <div class="row">
        <div class="col-12">
            <div class="section-heading pb-3">
                <h1 class="display-3 text-center" style="color: #4e73df">About Us</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2 class="sub-heading pb-2">About the Platform</h2>
            <p class="text-lg">
                SwimFix is a platform for improving front crawl based on pose estimation of the swimmer.
                Given a swimming video in a front crawl setting, the system estimates different keypoints
                of the swimmer in each frame and extracts analytical measures such as angles which are later used to
                asses the performance of the swimmer.
                The assessment is performed using an error detection algorithms that is based on a pre-defined set of errors,
                which takes as input the extracted analytical measures.
                After the detection phase, a scoring method is used to calculate the final score of the video using the detected errors.
            </p>
            <h2 class="sub-heading pb-2">About the Entrepreneurs </h2>
            Entrepreneurs of the project are Dr. <br>Raziel Riemer<br>, biomechanics expert and high swimming achiever in his past,
            and <br>Gera Weiss<br>, Dr. of Computer Science, a swimming enthusiast.
            Their vision is to develop a platfrom for improving swimming that can be marketed to groups of swimmers and even swimmers' unions.<br>
            <b>Raziel Riemer</b> is assistant professor at Dept of industrial engineering and
            management at Ben-Gurion University of the Negev in Israel. He hold a Ph.D. form
            Department of Mechanical and Industrial Engineering at the University of Illinois at
            Urbana-Champaign, USA. His research interests are in the areas of analysis,
            modeling, and simulation of human movement, as well as warble robots (exoskeletons).
            In addition to his academic career, Raziel is a certified swimming coach with more than 20
            years of experience. In his coaching he emphasis on teaching swimming technique to be both
            efficient and biomechanical correct to improve power output and reduce injuries. Raziel have
            been working with swimmers at all levels: beginners, national level swimmers and triathlete,
            Israel champion and one Olympian triathlete. Other accomplishments of Raziel include being
            the Israeli national swimming champion and record holder from 1984 to 1989.
            In his research and coaching Raziel realized the importance of being able to provide the
            swimmer with a fast and accurate feedback on their swimming technique. This is hard to do
            for recreational swimmier as they might not have a coach or see him only once a week and
            both for competitive level swimming teams due to the large amount of swimmers per coach.
            This project aims to develop a tool that swimmers could use to improve their swimming
            technique. Further for the use of coaches that would like to have an automatic tool that could
            provide feedback to the swimmer based on the coach recommendation.
            <h2 class="sub-heading pb-2">About the Developers</h2>
            <p class="text-lg">
                We are graduating B.Sc. students in Ben Gurion University of the Negev, located in Be'er Sheva, Israel<br>
                Our goal in the final project was to optimize the ability to extract the various joints through
                deep learning, and build a user interface that would allow the swimmer to load his video and return as
                output metrics extracted from the video and save previous results over time.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 pb-2">
            <h2 class="sub-heading">Our Github Repository</h2>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/roeegro/SwimmingProject"> Go to the
                repository</a>
        </div>
    </div>

    <h2 class="sub-heading">Documents</h2>

    <div class="row">
        <div class="col-12 pb-2">
            <a class="h4" target="_blank" rel="noopener noreferrer"
               href="https://github.com/roeegro/SwimFix/blob/master/docs/Requirements.pdf">Requirements Document</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 pb-2">
            <a class="h4" target="_blank" rel="noopener noreferrer"
               href="https://github.com/roeegro/SwimFix/blob/master/docs/ADD.pdf">Application Design Document</a>
        </div>
    </div>

    <h2 class="sub-heading">Manuals</h2>

    <div class="row">
        <div class="col-12 pb-2">
            <a class="h4" target="_blank" rel="noopener noreferrer" href="https://github.com/roeegro/SwimFix/blob/master/client/README.md">User Manual</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 pb-2">
            <a class="h4" target="_blank" rel="noopener noreferrer" href="https://github.com/roeegro/SwimFix/blob/master/testing/README.md">Testing Manual</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 pb-2">
            <a class="h4" target="_blank" rel="noopener noreferrer" href="https://github.com/roeegro/SwimFix/blob/master/training/README.md">Training Setup Guide</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 pb-2">
            <a class="h4" target="_blank" rel="noopener noreferrer" href="https://github.com/roeegro/SwimFix/blob/master/MaintenanceGuide.md">Maintenance Manual</a>
        </div>
    </div>



</div>
</section>

<!-- ##### About Area End ##### -->


<!-- ##### All Javascript Files ##### -->
<!-- jQuery-2.2.4 js -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>
</body>
<!--<div class="-heading">-->
<!--    <h1>title</h1>-->
<!--</div>-->
<!--<div class="-paragraph">-->
<!--    We are wirj\n-->
<!--    dniwdo-->
<!--</div>-->
<!--<video width="320" height="240" controls>-->
<!--    <source src="movie.mp4" type="video/mp4">-->
<!--    Your browser does not support the video tag.-->
<!--</video>-->

<!--<div class="-heading">-->
<!--    <h1>Review</h1>-->
<!--</div>-->

<!--<div class="-heading">-->
<!--    <h1>Documents</h1>-->
<!--</div>-->

<!--<div class="-heading">-->
<!--    <h3>Requirements Document</h3>-->
<!--</div>-->


<!--<div class="-heading">-->
<!--    <h3>Testing Document</h3>-->
<!--</div>-->


<!--<div class="-heading">-->
<!--    <h3>Content Document</h3>-->
<!--</div>-->


<!--<div class="-heading">-->
<!--    <h3>Maintenance Document</h3>-->
<!--</div>-->

<!--<div class="-heading">-->
<!--    <h2>Github repository</h2>-->
<!--</div>-->
<!--<article>-->
<!--    <h1> a title</h1>-->
<!--    <p> By using em, even if we change the font-size property, we can be sure that the line length will stay the same in-->
<!--        terms of number of characters, because the width of the text container will change accordingly. Now we only need-->
<!--        to convert the line length unit from characters to em.</p>-->
<!--</article>-->


{% endblock content %}