{% extends 'index.html' %}
{% block content %}
<!-- Preloader -->
<div id="preloader">
    <i class="circle-preloader"></i>
    <img src="img/core-img/salad.png" alt="">
</div>


<!-- ##### About Area Start ##### -->
<!--<section class="about-area section-padding-80" >-->
<div class="myContainer" style="width: 100%">
    <div class="row">
        <div class="col-12">
            <div class="section-heading pb-3">
                <h1 class="display-3 text-center" style="color: #4e73df">About Us</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2 class="sub-heading pb-2">About the Platform</h2>
            <p class="text-lg">
                SwimFix is a platform for improving front crawl based on pose estimation of the swimmer.
                Given a swimming video in a front crawl setting, the system estimates different keypoints
                of the swimmer in each frame and extracts analytical measures which are later used to
                asses the performance of the swimmer.
            </p>
            <h2 class="sub-heading pb-2">About the System </h2>
            <p class="text-lg">
                Initiators of the project are Dr. Raziel Riemer, biomechanics expert and high swimming achiever
                in his past, and Gera Weiss, Dr. of Computer Science, a swimming enthusiast. Their goal is to
                establish a
                swimming style enhancement system. The system receives a video as an input from a swimmer, extracts the
                locations
                of
                his body part, and produces additional data and metrics by which it gives feedback as to the measure
                of
                the swimming style.
                The vision of the system's entrepreneurs is to develop a high-finish system that can be marketed to
                groups of swimmers and even swimmers' unions.
                Our goal in the final project was to optimize the ability to extract the various joints through
                machine
                learning, and build a user interface that would allow the swimmer to load his video and return as
                output
                metrics extracted from the video and save previous results over time.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 pb-2">
            <h2 class="sub-heading">Our Github Repository</h2>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/roeegro/SwimmingProject"> Go to the
                repository</a>
        </div>
    </div>

    <h2 class="sub-heading">Documents</h2>

    <div class="row">
        <div class="col-12 pb-2">
            <a class="h4" target="_blank" rel="noopener noreferrer"
               href="https://github.com/roeegro/SwimFix/blob/master/docs/Requirements.pdf">Requirements Document</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 pb-2">
            <a class="h4" target="_blank" rel="noopener noreferrer"
               href="https://github.com/roeegro/SwimFix/blob/master/docs/ADD.pdf">Application Design Document</a>
        </div>
    </div>

    <h2 class="sub-heading">Manuals</h2>

    <div class="row">
        <div class="col-12 pb-2">
            <a class="h4" target="_blank" rel="noopener noreferrer" href="https://github.com/roeegro/SwimFix/blob/master/client/README.md">User Manual</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 pb-2">
            <a class="h4" target="_blank" rel="noopener noreferrer" href="https://github.com/roeegro/SwimFix/blob/master/test/README.md">Testing Manual</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 pb-2">
            <a class="h4" target="_blank" rel="noopener noreferrer" href="https://github.com/roeegro/SwimFix/blob/master/training/README.md">Training Setup Guide</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 pb-2">
            <a class="h4" target="_blank" rel="noopener noreferrer" href="https://github.com/roeegro/SwimFix/blob/master/MaintenanceGuide_new.md">Maintenance Manual</a>
        </div>
    </div>



</div>
</section>

<!-- ##### About Area End ##### -->


<!-- ##### All Javascript Files ##### -->
<!-- jQuery-2.2.4 js -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>
</body>
<!--<div class="-heading">-->
<!--    <h1>title</h1>-->
<!--</div>-->
<!--<div class="-paragraph">-->
<!--    We are wirj\n-->
<!--    dniwdo-->
<!--</div>-->
<!--<video width="320" height="240" controls>-->
<!--    <source src="movie.mp4" type="video/mp4">-->
<!--    Your browser does not support the video tag.-->
<!--</video>-->

<!--<div class="-heading">-->
<!--    <h1>Review</h1>-->
<!--</div>-->

<!--<div class="-heading">-->
<!--    <h1>Documents</h1>-->
<!--</div>-->

<!--<div class="-heading">-->
<!--    <h3>Requirements Document</h3>-->
<!--</div>-->


<!--<div class="-heading">-->
<!--    <h3>Testing Document</h3>-->
<!--</div>-->


<!--<div class="-heading">-->
<!--    <h3>Content Document</h3>-->
<!--</div>-->


<!--<div class="-heading">-->
<!--    <h3>Maintenance Document</h3>-->
<!--</div>-->

<!--<div class="-heading">-->
<!--    <h2>Github repository</h2>-->
<!--</div>-->
<!--<article>-->
<!--    <h1> a title</h1>-->
<!--    <p> By using em, even if we change the font-size property, we can be sure that the line length will stay the same in-->
<!--        terms of number of characters, because the width of the text container will change accordingly. Now we only need-->
<!--        to convert the line length unit from characters to em.</p>-->
<!--</article>-->


{% endblock content %}