<!DOCTYPE html>
<html lang="en">

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

{#        <!-- Sidebar - Brand -->#}
{#        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">#}
{#            <div class="sidebar-brand-icon rotate-n-15">#}
{#                <i class="fas fa-laugh-wink"></i>#}
{#            </div>#}
{#            <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>#}
{#        </a>#}
{##}
{#        <!-- Divider -->#}
{#        <hr class="sidebar-divider my-0">#}

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index') }}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Main Page</span></a>
        </li>


        {% block admin_menu %}
        {% endblock admin_menu %}
        <!-- Divider -->
        <hr class="sidebar-divider">

        {% if isAdmin %}
        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin_index') }}">
                <i class="fas fa-fw fa-table"></i>
                <span>Admin Panel</span></a>
        </li>
        {% endif %}

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('load_video') }}">
                <i class="fas fa-fw fa-table"></i>
                <span>Load video</span></a>
        </li>


        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">
                <i class="fas fa-fw fa-table"></i>
                <span>About</span></a>
        </li>

        <!-- Nav Item - previous-feedbacks -->
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('previous_feedbacks') }}">
                <i class="fas fa-fw fa-table"></i>
                <span>Previous Feedbacks</span></a>
        </li>

        <!-- Nav Item - previous-feedbacks -->
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('forum', page='0') }}">
                <i class="fas fa-fw fa-table"></i>
                <span>Forum</span></a>
        </li>

        <!-- Nav Item - Logout -->
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">
                <i class="fas fa-fw fa-table"></i>
                <span>Logout</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->
    <div class="container-fluid">
        {% block content %}
        {% endblock content %}
    </div>
    <div class="alert-heading"
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}>
            <div class="alert alert-{{ category }}">
                {{ message | safe}}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
</div>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/static/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/static/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<!--<script src="/static/js/demo/chart-area-demo.js"></script>-->
<!--<script src="/static/js/demo/chart-pie-demo.js"></script>-->

</body>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Main Page</title>

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

</head>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>

</html>
