{% extends 'index.html' %}
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Previous Feedbacks</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table id="previous_feedbacks_tbl" class="table table-bordered" id="dataTable" width="100%"
                       cellspacing="0">
                    <thead>
                    <tr>
                        <th>Upload Date</th>
                        <th>Zip</th>
                        <th>Page</th>
                    </tr>
                    </thead>
                    <tbody id="previous_feedbacks_tbl_body">

                    </tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{ item.date }}</td>
                        <td>
                            <a href={{ item.zip }} download> {{ item.zip_name }}</a>
                        </td>
                        <td>
                            <a href= "{{url_for('previous_feedback', zip_name = item.zip_name_without_extension)}}"> View graphs</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
</div>
{% endblock content %}