{% extends 'index.html' %}
{% block content %}

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <div class="text-center">
                            <h3>Your video is being processed</h3>
                        </div>
                        <div class="loader" style="display: block"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}